cmake-build-debug/
Enunciado/
*.o
.idea/
int/
build/
target/
.gdb_history
.vscode/
*.pro.user*
src/editor/build-Editor-Desktop-Debug
report/User Manual/*.gz
report/User Manual/*.log
report/User Manual/*.toc
report/User Manual/*.aux